.module {
    border: 1 px;
    border-color: black;
    background-color: peachpuff;
    box-shadow: 10px;
}

.img{
margin: 10px;
width: 100px;
max-height: auto;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 80px;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
 

Instructions: 

Create your first React project (Portfolio), follow these steps in the terminal: 

npm create vite@latest 

name of your project 

pick a framework – React 

pick a language – JavaScript 

cd ”your project name” 

npm install 

npm run dev 

Pay close attention to step 5. This will make sure that you are in the right folder before you run npm install and npm run dev.  

In this assignment you will be creating your own reusable components 

Create atleast 3 components, these components will represent your previous projects. Each component will include these props:  

Name  

Screenshot  

Github repo  

Tech used  

A short write-up 

What the project does 

What you learned 

Your role (if it was collaborative) 

Challenges you solved 

Make sure to pass these values down as props so that you can customize your components. You are going to be working on this project for future assignments so make sure that it looks the way that you want it to.  

You will have complete freedom in designing this project, so make sure to use your HTML/CSS skills. I recommend that you check out tailwind aswell. 

 

 

Paste your Github link here: 

 

Feedback (will be filled out by teacher/ teacher assistant): 

 */